$whiteColor: #ffffff;
$blackColor: #000000;
$blueColor: #2196f3;
$darkColor: #212121;
$darkfooterColor: #2f303a;
$greyColor: #AFB1B8;
$darkgreyColor: #757575;
$whitetransColor: #ffffff99;
$lightgrayColor: #F5F4FA;


.customers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: $whiteColor;
    padding-top: 94px;
    max-width: 1200px;
    width: auto;
}

&__heading {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: white;
    padding-top: 94px;
    width: auto;
    font-size: 44px;
}

&__list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 50px;
    justify-content: space-around;
}

.customer__card {
    margin: 5px;
    display: flex;
    flex-wrap: wrap;
    width: 170px;
    height: 92px;
    border: 1px solid;
    border-color: $greyColor;
    border-radius: 5px;
}

&:hover svg { fill: $greyColor} 

.customer__card:hover {
    border-color: var $blueColor;
}

.customer__svg {
    fill: $greyColor;
    transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

&:hover {
    cursor: pointer;
    fill: $blueColor;
}

