$whiteColor: #fff;
$blackColor: #000000;
$blueColor: #2196f3;
$darkColor: #212121;
$darkfooterColor: #2f303a;
$greyColor: #AFB1B8;
$darkgreyColor: #757575;
$whitetransColor: #ffffff99;
$lightgrayColor: #F5F4FA;


body {
    font-family: 'Roboto', sans-serif;
    background-color: $whiteColor;
}

* {
    margin: 0;
}

ul { 
    list-style: none;
}

.section {
    padding-bottom: 94px;
}


.container {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    gap: 15px;
    flex-direction: column;
    background-color: $whiteColor;
}

.header {
    max-height: 80px;
    width: auto;
}


a {
    text-decoration: none;
    color: #757575;
}

a:hover {
    color: $blueColor;
}

p {
    font-size: 12px;
    color: $darkColor;
}
