.footer {
    padding-left: 50px;
    height: 300px;
    width: auto; 
    background-color: var(--darkfooter);
    justify-content: flex-start;
}

.footer-page {
    margin-top: 60px;
    font-size: 14px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 215px;
}

.footer__list {
    color: var(--white);
    justify-content: flex-start
}

.footer__element {
    padding-bottom: 20px;
    
 }

 .footer__join-us {
    justify-content: flex-start;
    display: flex;
    color: var(--white);
    margin-left: 20px;
}

 .footer__social-media {
    justify-content: space-evenly;
}

.footer-social-media__circle {
    padding: 10px;
    margin-top: 20px;
    display: inline-flex;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    background-color: none;
    transition-duration: 0.5s;
}

.footer-social-media__circle:hover svg { fill: var(--white) }

.footer-social-media__circle:hover {
    background-color: var(--blue);
    fill: var(--white);
    cursor: pointer;
}

.footer-social-media__icon {
    fill: var(--grey);
    transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.footer-social-media__icon:hover {
    fill: var(--white)
}

.footer__newsletter {
    justify-content: flex-start;
    display: flex;
    color: var(--white);
    margin-left: 20px;
}

.footer__newsletter-text {
    font-size: 16px;
    margin-left: 78px;
    margin-bottom: 20px;
}

.footer-input__newsletter {
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    margin-left: 78px;
    background-color: var(--background-color);
    border: solid 2px;
    border-color: var(--white);
    color: var(--white);
    padding-left: 16px;
    font-size: 16px;
    line-height: 1.25;
    margin-right: 12px;
} 

.footer-input__newsletter-icon {
    padding-left: 24px;
    align-items: center;
}

.footer__text {
    color: var(--blue);
}

.join-us {
    padding: 15px;
    font-size: 16px;
    color: var(--white);
}

.footer__link {
    color: var(--white);
}

.newsletter {
    margin-left: 78px;
}

.footer__button {
    height: 50px;
    width: 200px;
    background-color: var(--blue);
    border: none;
    font-size: 16px;
    font-weight: bold;
    color: var(--white);
    align-items: baseline;
    border-radius: 5px;
}
