$whiteColor: #fff;
$blackColor: #000000;
$blueColor: #2196f3;
$darkColor: #212121;
$darkfooterColor: #2f303a;
$greyColor: #AFB1B8;
$darkgreyColor: #757575;
$whitetransColor: #ffffff99;
$lightgrayColor: #F5F4FA;